!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Digest Cycles in Single Page Apps

    //- Check out 'src/bower_components/prism/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/prism-tomorrow.css')

    link(rel='stylesheet', type='text/css', href='styles/main.css')

  body

    article

      section
        h1 Digest Cycles in Single Page Apps
        h2 Brendan Graetz
        p
          a(href='http://bguiz.com') bguiz.com
        p
          a(href='https://twitter.com/bguiz') @bguiz

      section
        h2 What is a Digest Cycle?
        img(src='http://docs.angularjs.org/img/guide/concepts-runtime.png')

      section
        h2 What is a Digest Cycle?
        ul
          li Code that runs at an interval
          li Typically used to aggregate expensive tasks

      section
        h2 Where are they used?
        ul
          li "Game Loop"
          li
            a(href='http://www.koonsolo.com/news/dewitters-gameloop/') An introduction
          li
            a(href='http://www.gameprogblog.com/generic-game-loop/') An in-depth explanation

      section
        h2 Where are they used?
        ul
          li SPA frameworks
          li AngularJS
          li 
            a(href='https://github.com/angular/angular.js/blob/v1.0.x/src/ng/rootScope.js#L364') (coined the term)
          li EmberJS
          li 
            a(href='https://github.com/emberjs/ember.js/blob/1-0-beta/packages/ember-metal/lib/run_loop.js#L216') (look for Ember.run and runLoop)
          li
            a(href='http://bguiz.com/post/57373805814/accessors-vs-dirty-checking-in-javascript-frameworks') Accessors vs. Dirty-checking

      section
        h2 Where are they -not- used?
        ul
          li BackboneJS

      section
        h2 Why are they important in SPAs?
        ul
          li Dirty checking
          li Improve efficiency
          ul
            li Aggregate DOM changes
            li (render to buffer)
            li Aggregate listeners
            li Computed properties

      section
        h3 (computed properties)
        p 
          a(href='https://github.com/emberjs/ember.js/blob/1-0-beta/packages/ember-runtime/lib/ext/function.js#L64') Computed properties allow you to treat a function like a property
        code.language-javascript
          pre.
            App.Person = Ember.Object.extend({
                bmi: function() {
                    var height = this.get('height');
                    return this.get('weight') / height / height;
                }.property('weight', 'height')
            });
          
      section
        h2 Avoid in digest cycles
        p Too much work in each cycle
        p
          a(href='http://stackoverflow.com/a/9693933/194982') Misko Hevery on dirty checking tresholds

      section
        h2 Avoid in digest cycles
        p Too much work in each cycle
        code.language-javascript
          pre.
            var socket = io.connect();
            return {
              on: function (eventName, callback) {
                socket.on(eventName, _.throttle(function () {
                  var args = arguments;
                  $rootScope.$apply(function () {
                    callback.apply(socket, args);
                  });
                }, 500));  // limit to once every 500ms
              }
              // ...
            };
        p
          a(href='http://briantford.com/blog/huuuuuge-angular-apps.html') Credit: Huge Angular Apps - Brian Ford

    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
